@using NorthWind.Entities.Concrete
@model List<Category>

<div class="list-group">
    <a href="/Product/Index" class="list-group-item list-group-item-action active">
        Ana Sayfa
    </a>

    @foreach (var item in Model)
    {
        <a href="/Product/Index?category=@item.CategoryID" class="list-group-item list-group-item-action">@item.CategoryName</a>
    }
</div>

